.container_slider_add {
    width: 35vw;
    align-items: center;
    gap: 5vw;
 
}

.container_slider_add .container_overflow_slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px; 
    padding: 0 1rem;
    align-items: center;
}

.container_overflow_slider .container_content_slider {
    transition: 0.5s ease;
    align-items: center;
    display: flex;
    
}

.container_content_slider .slide_add {
    flex: 0 0 calc(100%);
    box-sizing: border-box;
}


@media (min-width: 768px) {
    .container_content_slider .slide_add {
        flex: 0 0 calc(100%); 
    }
}

.slide_add img {
    border-radius: 999px;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border: 5px solid var(--dark_red);
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.467);
}

.container_slider_global {
    margin-top: 5rem;
    gap: 5rem;
    background-color: var(--bg_slider_add);
    width: 55vw;
    padding: 3rem 5vw;
    border-radius: 15px;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.467);
}

.container_separation_add_slider {
    align-items: center;
    gap: 1rem;
    color: var(--white);
}

.container_separation_add_slider span{
    background-color: var(--dark_red);
    width: 100%;
    height: 2px;
}

.container_slider_panel {
    gap: 2rem;
    font-family: 'Plus Jakarta Sans',sans-serif;
    justify-content: center;
    width: 100%;
}

.container_slider_panel input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--dark_red);
}

.container_slider_panel button {
    background-color: var(--dark_red);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--white);
    outline: none;
    font-family: 'Plus Jakarta Sans',sans-serif;
    border: none;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.467);
}

.container_slider_panel button:hover {
    transform: translateY(3px);
    cursor: pointer;
    transition: .5s;
}

.container_slider_panel button:not(:hover) {
    transform: translateY(0px);
    transition: .5s;
}