.container_error_page {
  width: 100vw;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  gap: 2rem;
}

.container_error_page img {
  width: 40vw;
  object-fit: contain;
}

.container_error_page h1 {
  color: var(--beige);
}

.container_error_page .btn_back_home {
  background-color: var(--dark_red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--beige);
  text-decoration: none;
}

.btn_back_home:hover {
  transform: translateY(3px);
  cursor: pointer;
  transition: 0.5s;
}

.btn_back_home:not(:hover) {
  transform: translateY(0px);
  transition: 0.5s;
}
