.container_homepage {
  margin-top: 120px;
}

.container_search_bar {
  gap: 1.5rem;
  border-bottom: 2px solid var(--dark_red);
  width: fit-content;
  align-items: center;
  align-self: center;
  margin-bottom: 2rem;
}

.container_search_bar .search_bar {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--white);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container_homepage .container_heros {
  flex-wrap: wrap;
  padding: 3rem 3vw;
  gap: 5vw;

}

.container_homepage .error_message {
  color: var(--white);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.container_homepage .container_tags {
  align-self: center;
  gap: 2rem;
  margin: 2rem 0;
}
